<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="site-footer__inner">
      <div class="site-footer__copyright"><address>For further information, please contact <a href="https://twitter.com/s_ryone" target="_blank">Ryoichi Shiohama</a>.</address>
        <small>copyright &copy; <time datetime="2017">2017</time></small></div>
    </div>
  </div>
</footer>
<!-- /.site-footer -->
