<header class="site-header" role="banner">
  <div class="container">
    <div class="site-header__inner">
      <div class="site-id">
        <h1>{{ header.title }}</h1>
      </div>
    </div>
  </div>
</header>
<!-- /.site-header -->
