.kenten {
  $kenten-color: $blue;

  background-image: -webkit-gradient(radial, center center, 0, center center, 1.5, from($kenten-color), color-stop(0.5, $kenten-color), color-stop(0.9, transparent), to(transparent));
  background-image: -webkit-radial-gradient(center center, 0.2rem 0.2rem, $kenten-color, $kenten-color 95%, transparent 95%, transparent);
  background-image: radial-gradient(0.2rem 0.2rem at center center, $kenten-color, $kenten-color 95%, transparent);
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 1em 0.4em;
  font-feature-settings: normal;
  padding: 0.2em 0 0;
}
