footer(role="contentinfo").l-site-footer
  div.l-container.l-site-footer__inner
    div.l-site-footer__copyright
      address For further information, please contact
        a(href="https://twitter.com/s_ryone", target="_blank") Ryoichi Shiohama
        | .
        small &copy;
          time(datetime="2019") 2019
// /.l-site-footer

