nav(class="l-site-nav", role="navigation")
  div.l-container.l-site-nav__inner
    ul
      li: a(href="#") Menu 1
      li: a(href="#") Menu 2
      li: a(href="#") Menu 3
      li: a(href="#") Menu 4
// /.l-site-nav
