.footer {
  margin-top: ($base-spacing * 1);

  &__inner {
    border-top: $base-border;
    padding: ($base-spacing * 1) 0;
  }

  &__copyright {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }
}
