.site-wrapper {
  overflow: hidden;
  position: relative;

  &--drawer-left {
    margin-left: 320px;
  }

  &--drawer-right {
    margin-right: 320px;
  }

  &--drawer-none {
    margin-left: auto;
    margin-right: auto;
  }
}
