%#{$all-buttons} {
  display: inline-block;
  padding: $small-spacing $base-spacing;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  color: $action-color-text;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  transition: $transition-list;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;

  &:hover,
  &:focus {
    color: $action-color-text;
    background-color: $action-color-hover;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: $action-color;
    }
  }
}

button,
.m-button {
  @extend %#{$all-buttons};
}

.m-button {
  &-wrapper {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }

  &--secondary {
    color: $action-color-secondary-text;
    background-color: $action-color-secondary;

    &:hover,
    &:focus {
      color: $action-color-secondary-text;
      background-color: $action-color-secondary-hover;
    }

    &:disabled {
      &:hover {
        background-color: $action-color-secondary;
      }
    }
  }

  &--full-width {
    display: block;
    width: 100%;
  }
}
