.breadcrumb {
  ul {
    @include clearfix;

    background-color: $white;
    color: $medium-gray;
    margin: 0;
    padding: 0;
  }

  li {
    color: $medium-gray;
    float: left;
    font-size: 0.875rem;
    list-style: none;

    a {
      color: $medium-gray;
    }
  }

  &__home {
    &::before {
      content: "\f102";
      margin-right: 0.3em;
      vertical-align: bottom;
    }
  }
}
