.social-button {
  padding: 0;

  &__item {
    display: inline-block;
    list-style: none;
    margin-right: 0.5em;
    vertical-align: top;
  }

  .fb {
    &_iframe_widget {
      > span {
        vertical-align: baseline !important;
      }
    }
  }
}
