%a-link {
  background-color: transparent;
  color: $action-color;
  outline: none;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  transition: $transition-list;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 16%);
    outline: none;
  }

  &:visited {
    color: desaturate($action-color, 16%);
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;

    img {
      opacity: 0.85;
    }
  }

  img {
    backface-visibility: hidden;
  }

  img,
  svg {
    transition: $transition-list;
  }
}

%a-link-button {
  position: relative;

  &::after {
    background: $action-color;
    border-top-left-radius: $small-border-radius;
    border-top-right-radius: $small-border-radius;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: $transition-list;
    width: 100%;
  }
}

%a-link-button-hover {
  &::after {
    background: $action-color;
    transform: scaleX(1);
  }
}

a {
  @extend %a-link;
}

.link-button {
  display: inline-block;
  padding: 8px 16px;

  @extend %a-link-button;
}
