<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Website Template</title>
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="msapplication-TileImage" content="assets/images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">
  <meta name="theme-color" content="#2F3BA2">
  <link rel="icon" sizes="192x192" href="assets/images/touch/chrome-touch-icon-192x192.png">
  <link rel="apple-touch-icon" href="assets/images/touch/apple-touch-icon.png">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<div id="wrapper" class="site-wrapper">
  @include('partials.header')
  @include('partials.navigation')

  @!section('content')

  @include('partials.footer')
</div>
<!-- /#wrapper -->

<!-- JavaScript Library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js"></script>
<script>svg4everybody();</script>
<script>
  window.WebFontConfig = {
    google: {
      families: ['Noto+Serif+JP:200,300,400,500,600,700,900', 'Noto+Sans+JP:100,300,400,500,700,900']
    },
    active: function() {
      sessionStorage.fonts = true;
    }
  };

  (function() {
    const wf = document.createElement('script');
    wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
    wf.type = 'text/javascript';
    wf.async = true;
    const s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>
@!section('js')

<!-- Font Awesome 5 -->
<script defer src="//use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

<!-- Social button script -->
<script async src="//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8" id="facebook-jssdk"></script>
<script async src="//platform.twitter.com/widgets.js" id="twitter-wjs"></script>
<script async src="//b.st-hatena.com/js/bookmark_button.js" charset="utf-8"></script>
<script async src="//widgets.getpocket.com/v1/j/btn.js?v=1"></script>
</body>
</html>
